<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view/style.css">
    <title>Tambo Grande SAC - Tienda Virtual</title>
</head>
<body>
    <div id="app">
        <h1>Tambo Grande SAC</h1>
        cout<<hola mundo
        <div id="product-list"></div>
        <div id="order-list"></div>
    </div>

    <script type="module" src="controller/shopController.js"></script>
</body>
</html>
